@import '../masterPalette';

.RootContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.TopBar {
    background-color: $bg0;
    flex: 1;
}

.GameContainer {
    flex: 500;
    display: flex;
    flex-direction: column;
}